<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bean="http://www.springframework.org/schema/beans"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
          					  http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
          
	<bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
  		<property name="prefix" value="/" />
  		<property name="suffix" value=".html" />
  		<property name="templateMode" value="HTML5" />
  		<!-- set true in Production -->
  		<property name="cacheable" value="${thymeleaf.cacheable}" />
 	</bean>
 
 	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
  		<property name="templateResolver" ref="templateResolver" />
 	</bean>
 
 	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8"/>
		<property name="order" value="1" />
		<property name="viewNames" value="*" />
 	</bean>
 	
 	
 	
<!--  	<beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"> -->
<!-- 		<beans:property name="defaultLocale" value="en_US" /> -->
<!-- 	</beans:bean> -->
 
<!-- <beans:bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"> -->
<!-- 	<beans:property name="paramName" value="language" /> -->
<!-- </beans:bean> -->
 
<!-- <beans:bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" > -->
<!-- 	<beans:property name="interceptors"> -->
<!-- 	   <beans:list> -->
<!-- 		<beans:ref bean="localeChangeInterceptor" /> -->
<!-- 	   </beans:list> -->
<!-- 	</beans:property> -->
<!-- </beans:bean> -->
 
<!-- <beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> -->
<!-- 	<beans:property name="basename" value="locale/messages" /> -->
<!-- </beans:bean> -->
 
 </beans>